<% if @comment.errors.any? %>
  <div id="form__field">
    <h4 class="form__title mt-4"><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h4>

    <ul class="p-1">
      <% @comment.errors.each do |error| %>
        <li class="form__errors"><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
