@import "bootstrap";

.comments {
  @extend .text-black;
}

.comments__nested {
  margin-left: 3rem;
}

.comment__info {
  @extend .position-absolute, .top-0, .start-100, .translate-middle, .badge, .border, .border-light, .rounded-circle, .bg-primary, .p-2;
}

.comments__field {
   @extend .card;
}

.posts__form {
  @extend .text-center, .text-white;
}

.form {
  @extend .mx-auto, .rounded, .col-4, .p-4, .bg-white, .shadow-lg, .text-center;
  margin-bottom: 3.5rem;
}

.form__counter {
  @extend .text-black, .mt-4;
}

.form__errors {
  @extend .list-unstyled, .text-danger;
}

.form--large {
  @extend .col-5;
}

.form__label {
  @extend .fs-4, .text-black;
}

.form__image {
  @extend .w-100, .rounded, .text-black;
}

.avatar {
  @extend .rounded-circle;
  width: 400px;
  height: 400px;
}

.avatar--small {
  width: 80px !important;
  height: 60px;
}

.navbar {
  padding: 0 10rem;
}
